*{
    box-sizing: border-box;
}
.App{
    height: 200vh;
}
.app_wrapper{
    border: 1px solid red;
    min-height: 80vh;
    max-width: 750px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}
.main{
    border: 1px solid red;
    flex: 1 1 auto;
    display: grid;
    grid-template-areas: 
    "sidebar filter" 
    "sidebar tickets";
}
.sidebar{
    grid-area: sidebar;
}
.input{

}
.checker{

}
.filter{
    grid-area: filter;
}
.tickets{
    grid-area: tickets;
}